.App {
  text-align: center;
  background-color: rgb(198, 220, 220);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  width: 190vh;
  margin: auto;
  background-color: rgb(44, 161, 220);
}
.homemaindiv::before{
  /* background: url('./images/home1jpg.jpg') no-repeat center center/cover ; */
  background-color: rgb(44, 161, 220);
  content: '';
  position: absolute;
  top:0;
  left: 3%;
  /* width: 100%; */
  width: 94%;
  margin: auto;
  height: 150%;
  z-index: -1;
  opacity: 0.7;
  /* opacity: 0.8; */
}
.header{
  display: flex;
  background-color: white;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding-left: 20px;
  border: 5px solid rgb(17, 198, 159);
}
.logoname{
  text-transform: uppercase;
  font-size: 18px;
}
.nav{
  display: flex;
}
li{
  list-style: none;
}
a{
  padding: 18px;
  text-decoration: none;
}

.bodies{
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
}
.body1{
  display: flex;
  width: 70%;
  height: 370px;
  /* background: url(./images/thirdSlider.jpg)no-repeat center center/cover; */
  background-color: rgb(155, 75, 160);
  /* color: white; */
  /* opacity: 0.8; */
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  align-items: center;
  text-align: center;

  /* display: block; */
}
.para{
  display: flex;
  align-items: center;
  color: white;
  padding: 70px;
  font-size: 28px;
  border-radius: 20px;
  justify-content: center;
  margin-top: 80px;
 
}
.body2{
  height: 80px;
  position: sticky;
  bottom:300px;
  float: right;
  background-color: white;
  border-radius: 20px;
  width: 20%;
  text-align: center;
}

.closebtnhome{
position: relative;
bottom: 17px;
left: 17px;
font-size: 10px;
border-radius:13px;
/* transition: 1.2s; */
padding: 2px;
}
.closebtnhome:hover{
  background-color: rgb(177, 185, 188);
  color: black;
}
.container{
  text-align: center;
  background-color: aliceblue;
  opacity: 0.8;
  justify-content: center;
  padding: 50px; 
  height: 70vh;
  width: 65vh;
  margin: auto;
  border-radius: 17px; 
  margin-top: 32px;
}
.containerregister{
  text-align: center;
  background-color: aliceblue;
  opacity: 0.8;
  padding: 50px; 
  height: 100vh;
  width: 700px;
  margin: auto;
  border-radius: 17px; 
  margin-top: 32px;
}
.fgName{
    position: relative;
    bottom: 80px;
    right: 140px;
    margin-top: 42px;
    padding: 10px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Mogra', cursive;
font-family: 'Shantell Sans', cursive;
font-size: 20px;
font-weight: bold;
text-decoration: underline;
}

.fgNamereg{
  position: relative;
  bottom: 100px;
  left: 290px;
  margin-top: 42px;
  margin-bottom: 42px;
  padding: 10px;
text-transform: uppercase;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Mogra', cursive;
font-family: 'Shantell Sans', cursive;
font-size: 20px;
font-weight: bold;
text-decoration: underline;
}
.title{
  text-transform: uppercase;
  margin-top: -109px;
  margin-bottom: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  /* margin-bottom: -12px; */
}
.email{
  margin-top: 22px;
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Mogra', cursive;
  font-family: 'Shantell Sans', cursive;
}
.password{
  /* margin-top: 22px; */
  font-size: 18px;
  margin-bottom: 12px;
  font-family: 'Abel', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Mogra', cursive;
  font-family: 'Shantell Sans', cursive;
}

input{
  padding: 10px;
  width: 220px;
  border-radius: 3px;
  /* border: 1px; */
  /* border-color: blue; */
  outline-color: blue;
}
.errMsg{
  color: red;
}
  .frow{
    float: left;
    margin-left: 50px;
  }
 .phonenumber{
  display: inline-block;
 }


.btn{
  padding: 12px;
  margin-top: 38px;
  cursor:pointer;
  width: 250px;
  border-radius: 12px;
  border: 3px solid rgb(66, 137, 243);
  color: white;
  font-size: 18px;
  background-color: rgb(111, 244, 91);
  text-decoration: underline;
}


.btnreg{
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor:pointer;
  width: 250px;
  border-radius: 12px;
  border: 3px solid rgb(66, 137, 243);
  color: white;
  font-size: 18px;
  background-color: rgb(111, 244, 91);
  text-decoration: underline;
}
.mainbox{
  display: flex;
  justify-content: space-between;
}

/*slider css */
.slider-container {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px;
}

.slide:nth-child(1) {
  background: url(./images/firstSlider.jpg) no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url(./images/secondSlider.jpg) no-repeat center center/cover;
}
.slide:nth-child(3) {
  background: url(./images/thirdSlider.jpg) no-repeat center center/cover;
}
.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-controls button {
  margin: 5px 5px;
  cursor: pointer;
  /* background-color: black; */
  background-color: black;
  color:rgb(180, 180, 226) ;
    padding: 13px;
  opacity: 0.7px;
  transition: 1.4s;
  /* border: none; */
  /* position: fixed; */
}
.slider-controls button:hover{
   background-color:white ;
  color:rgb(180, 180, 226) ;
  border-radius: 5px;
}


.box{
height: 200px !important;
width: 300px;
border-radius: 13px;
margin: 30px;
background-color: rgb(40, 235, 118);
color: white;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* float: left; */
}


/* dashboard css */
.divDash{
height: 100vh;
}
.headerDash{
  color: black;
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 15px;
  position: relative;
  top: 10px;
  text-transform: uppercase;
}
.logoutDash{
  display: block;
  /* margin-top: 8px; */
  /* margin-left:700px; */
  margin-top: 150px;
  padding: 12px;
  width: 84px;
  color: white;
  background-color: rgb(18, 15, 15);
  border-radius: 12px;
  /* position: absolute;
  top:20px; */
  cursor: pointer;
  /* left:1000px */
}
.wrapperDash{
    display: flex;
    /* justify-content: space-between; */
   
}

.leftrow{
border-right:3px dotted rgb(26, 27, 26);
margin-top: 20px;
opacity: 0.85;
width:30%;
height: 100vh;
color: black;
background-color: rgb(141, 166, 188)
}

.rightrow{
  border: 3px solid white;
  width: 70%;
  margin-top: 20px;
  background-color: aliceblue;
  opacity: 0.7;
}
.links{
  text-align: center;
  margin-top: 20px;
  background-color: rgb(239, 248, 239);
  padding: 18px;
  display: block;
}
.linksFirst{
  text-align: center;
  margin-top: 10px;
  background-color: rgb(214, 223, 214);
  /* padding: 18px; */
  display: block;
}
/* .box{
  display: flex;
  color: white;
background: url('../../server/uploads/1688803074097-yoga.jpg');
  height: 130px;
    margin-top: 60px;
  border-radius: 12px;
  align-items: center;
  transition: 1.3s;
} */
.box:hover{
  background-color: rgb(20, 20, 22);
  height: 150px;
  /* opacity:0.7; */
  font-size: 30px;
  color: white;
   .boxinfo{display:block;}
  
} 


.profilename{
  font-size: 34px;
  text-transform: uppercase;
  color: green;
  margin: auto;
  text-align: center;
  
}
.boxinfo{display: none;}
.main{
  display: flex;
  justify-content: space-between;
}
.boxes{
  display: flex;
  margin-top: 30px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  color: black;
  background-color: white;
  opacity: 0.7;
  height: 100px;
  width: 300px;
}


/*About us Css begins here*/

.aboutusMainDiv{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}
.homemaindiv{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}
.aboutusBodyDiv{
  font-size: 18px;
  width: 190vh;
}
.homeBodyDiv{
  font-size: 18px;
  width: 190vh;
}

/* .aboutusTitle{
  text-align: center;
} */
.topdiv{
  text-align: center;
  /* padding: 5px; */
  color: white;
}
.topdiv::before{
  background-color: blue;
  content:"";
  position: absolute;
  width: 94%;
  height: 41.8%;
  top: 0;
  left: 3%;
  z-index: -1;
  opacity: 0.5;
}
.ourfoundingAbout {
  text-align: center;
  /* color: white; */
  position: relative;
  top: -5px;
}

.wrapperAbout{
  margin-top: 105px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  /* margin: auto; */
}
.secdiv::after{
  background-color: rgb(44, 161, 220);
  content:"";
  position: absolute;
  /* width: 92.67%; */
  width: 94%;
  height: 215%;
  top: 235px;
  left: 3%;
  z-index: -1;
  opacity: 0.6;
}
.secdiv p{
text-align: center;
}
.aboutusleft{
  /* border: 2px solid red; */
  width: 30%;
  margin-left: 50px;
  padding: 20px;
  height: 180px;
  border-radius: 17px;
  background: url('./images/home1jpg.jpg')no-repeat center center/cover;
}
.mission{
  /* border: 2px solid red; */
  width: 30%;
  margin-left: 50px;
  padding: 20px;
  height: 180px;
  border-radius: 17px;
  background: url('./images/mission.png')no-repeat center center/cover;
}
.features{
  /* border: 2px solid red; */
  width: 30%;
  margin-left: 50px;
  padding: 20px;
  height: 180px;
  border-radius: 17px;
  background: url('./images/features.png')no-repeat center center/cover;
}
.aboutusright{
  width: 45%;  
  background-color: white;
  opacity: 0.7;
  border-radius: 14px;
  margin-right: 10px;
}
.aboutusrightlast{
  width: 80%;
  margin: auto;
  background-color: white;
  opacity: 0.7;
  border-radius: 14px;
}

/*about us css starts*/
.contactmaindiv{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}
.contactbodydiv{
  font-size: 18px;
  width: 190vh;
}
.contactmaindiv::before{
  /* background: url('./images/home1jpg.jpg') no-repeat center center/cover ; */
  background-color: rgb(44, 161, 220);
  content: '';
  position: absolute;
  top:0;
  left: 3%;
  /* width: 100%; */
  width: 94%;
  margin: auto;
  height: 150%;
  z-index: -1;
  opacity: 0.7;
  /* opacity: 0.8; */
}

/*user Profile Style*/

.profilemain{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
border: 2px solid gray;
width: 40%;
height: 350px;
margin: auto;
margin-top: 50px;
z-index: -1;
transition: 0.7s;
border-radius: 15px;
}

.profilemain:hover{
background-color: white;
padding: 30px;
.userdetails{
background-color: rgb(206, 203, 240);
padding: 35px;
/* opacity: 0.7; */
font-size: 19px;
}
}
.userdetails{
  background-color: white;
  position: relative;
  top: 100px;
  /* opacity: 0.8; */
  padding: 30px;
  border-radius: 12px;
}

.pp img{
  border-radius: 190px;
}

/*User profile css ends*/

/*Bmi calc style */
.bmiHeader{
  text-align: center;
  font-size: 28px;
  font-weight: bold;  
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 50%;
  margin: auto;
  border: 2px solid green;
  margin-top: 22px;
}
.form-container input{
  margin: 12px;
}
.form-container .calculatebtn{
  display: inline-block;
  width: 50%;
  margin-top: 20px;
  padding: 12px;
  transition: 0.4s;
}
.form-container .calculatebtn:hover{
  /* background-color: rgb(234, 201, 151); */
  background-color: white;
}

.resultcalc{
  text-align: center;
  background-color: green;
  width: 45%;
  margin: auto;
  margin-top: 25px;
  color: white;
  padding: 20px;

}

/* custom css ends here */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
