.App {
  text-align: center;
  background-color: rgb(198, 220, 220);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background: url('./images/home1jpg.jpg') no-repeat center center/cover ;
  /* opacity: 0.8; */
}
.header{
  display: flex;
  background-color: white;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding-left: 20px;
}
.logoname{
  text-transform: uppercase;
  font-size: 18px;
}
.nav{
  display: flex;
}
li{
  list-style: none;
}
a{
  padding: 18px;
  text-decoration: none;
}

.bodies{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.body1{
  display: flex;
  width: 40%;
  height: 200px;
  background-color: white;
  opacity: 0.8;
  align-items: center;
  border-radius: 20px;
  padding: 20px;

  /* display: block; */
}
.para{
  
  color: black;
 
}
.body2{
  display: block;
  width: 40%;
  height: 200px;
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.container{
  text-align: center;
  background-color: aliceblue;
  opacity: 0.8;
  justify-content: center;
  padding: 50px; 
  height: 60vh;
  width: 60vh;
  margin: auto;
  border-radius: 17px; 
  margin-top: 32px;
}
.containerregister{
  text-align: center;
  background-color: aliceblue;
  opacity: 0.8;
  justify-content: center;
  padding: 50px; 
  height: 60vh;
  width: 1000px;
  margin: auto;
  border-radius: 17px; 
  margin-top: 32px;
}
.fgName{
    position: relative;
    bottom: 80px;
    right: 140px;
    margin-top: 42px;
    padding: 10px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Mogra', cursive;
font-family: 'Shantell Sans', cursive;
font-size: 20px;
font-weight: bold;
text-decoration: underline;
}
.fgNamereg{
  position: relative;
  bottom: 80px;
  right: 340px;
  margin-top: 42px;
  padding: 10px;
text-transform: uppercase;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Mogra', cursive;
font-family: 'Shantell Sans', cursive;
font-size: 24px;
font-weight: bold;
text-decoration: underline;
}
.title{
  text-transform: uppercase;
  margin-top: -109px;
  margin-bottom: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  /* margin-bottom: -12px; */
}
.email{
  margin-top: 22px;
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Mogra', cursive;
  font-family: 'Shantell Sans', cursive;
}
.password{
  /* margin-top: 22px; */
  font-size: 18px;
  margin-bottom: 12px;
  font-family: 'Abel', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Mogra', cursive;
  font-family: 'Shantell Sans', cursive;
}

input{
  padding: 10px;
  width: 220px;
  border-radius: 3px;
  /* border: 1px; */
  /* border-color: blue; */
  outline-color: blue;
}
.frow{
  float: left;
}


.btn{
  padding: 12px;
  margin-top: 38px;
  cursor:pointer;
  width: 250px;
  border-radius: 12px;
  border: 3px solid rgb(66, 137, 243);
  color: white;
  font-size: 18px;
  background-color: rgb(111, 244, 91);
  text-decoration: underline;
}

.btnreg{
  padding: 12px;
  margin-top: 68px;
  margin-bottom: 100px;
  cursor:pointer;
  width: 250px;
  border-radius: 12px;
  border: 3px solid rgb(66, 137, 243);
  color: white;
  font-size: 18px;
  background-color: rgb(111, 244, 91);
  text-decoration: underline;
}
.mainbox{
  display: flex;
  justify-content: space-between;
}

.box{
height: 300px;
width: 300px;
margin: 30px;
background-color: black;
color: white;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
/* float: left; */
}

/* custom css ends here */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
